<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ojakgyo.mapper.ItemMapper">

	<!-- 관리자에게 그룹 생성 요청이 승인된 경우 해당 그룹에 대한 테이블,시퀀스,인덱스 생성을 위해 실행되는 프로시저 -->
	<select id="create_item" parameterType="com.ojakgyo.domain.ProcedureVO" statementType="CALLABLE">
		 call create_item(	 
		 #{input, jdbcType=VARCHAR, javaType=java.lang.String, mode=IN},
   		 #{output, jdbcType=VARCHAR, javaType=java.lang.String, mode=OUT}   		
   		 )
	</select>
	
	<!-- 그룹 삭제로 인해 해당 그룹에 대한 테이블,시퀀스,인덱스들을 제거하는 프로시저 -->
	<select id="remove_item" parameterType="com.ojakgyo.domain.ProcedureVO" statementType="CALLABLE">
		 call remove_item(	 
		 #{input, jdbcType=VARCHAR, javaType=java.lang.String, mode=IN},
   		 #{output, jdbcType=VARCHAR, javaType=java.lang.String, mode=OUT}   		
   		 )
	</select>
	
	<!-- 그룹아이디로 사용할 아이디로 만들어진 테이블이 있는지 여부(없어야 함) -->
	<select id="check_item" resultType="int">
		select count(*) from user_tables where table_name = #{groupCode};
	</select>
	
</mapper>